<div class="main" data-appearing-on="Room <%= @room.name %>">
  <h1>
    <%= @room.name %>
    <small><%= link_to "(All rooms)", root_path %></small>
  </h1>
  <div class="messages">
    <%= render @messages %>
  </div>

  <%= text_field_tag :content, nil, placeholder: "Message...", data: {room: @room.id}, class: 'form-control' %>
</div>
