<h1>Welcome</h1>
<p>Choose your room</p>

<ul>
  <% @rooms.each do |room| %>
    <li>
      <%= link_to room.name, room %>
      <span class="badge badge-primary"><%= room.messages.count %></span>
    </li>
  <% end %>
</ul>

<%= form_for @room do |f| %>
  <div class="card card-block" style="max-width: 600px">
    <div class="mb-2">
      <%= f.text_field :name, class: 'form-control', placeholder: "Room name" %>
    </div>
    <%= f.fields_for :messages do |field| %>
      <div class="d-flex">
        <%= field.text_field :username, placeholder: "Username", class: 'form-control mr-2', required: true %>
        <%= field.text_field :body, placeholder: "Your first message", class: 'form-control mr-2', required: true %>
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>

