<h1>Room: <%= @room.name %></h1>

<div class="messages list-group mb-3">
  <%= render @messages %>
</div>

<%= form_for [@room, @message = Message.new(username: current_user)], remote: true do |f|  %>
  <p>I'm not crazy right</p>
  <div class="card card-block">
    <div class="d-flex justify-space-between">
      <%= f.text_field :body, class: 'form-control mr-2', placeholder: "Type your message...", required: true %>
      <%= f.text_field :username, class: 'form-control mr-2', placceholder: "Username", required: true %>
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  function reload() {
    $.get("<%= room_messages_path(@room, format: :js) %>", function(response) {
      console.log("run successfully ")
    })
  }

  function reloadJSON() {
    $.getJSON("<%= room_messages_path(@room, format: :json) %>", function(response) {
      console.log("data: ", response);
    })
  }

  // setInterval(reload, 3000);
</script>
