<h1>Room: <%= @room.name %></h1>

<div class="list-group">
  <div class="list-group-item">Message 1</div>
  <div class="list-group-item">Message 1</div>
  <div class="list-group-item">Message 1</div>
  <div class="list-group-item">Message 1</div>
  <div class="list-group-item">Message 1</div>
</div>

<%= form_for [@room, Message.new] do |f|  %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_field :body, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>
</form>
