<!DOCTYPE html>
<html>
  <head>
    <title>Lecture 4 - Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded navbar-toggleable-md">
      <a class="navbar-brand" href="/">Navbar</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <%= link_to "Log out (#{current_user} :: #{current_user.ip})", logout_path, class: 'nav-link', method: 'delete' %>
          </li>
        <% end %>
      </ul>
    </nav>
    <div class="container-fluid">
      <%= flash_messages %>
      <div class="row">
        <div class="col-sm-2">
          <div class="card mt-2">
            <div class="card-header">
              Online users: 
            </div>
            <div class="card-block online-users">
              <% unless current_user %>
                Log in to see.
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
