<!DOCTYPE html>
<html>
  <head>
    <title>Lecture 4 - Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded navbar-toggleable-md">
      <a class="navbar-brand" href="/">Navbar</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <%= link_to "Log out (#{current_user})", logout_path, class: 'nav-link', method: 'delete' %>
          </li>
        <% end %>
      </ul>
      <form class="form-inline float-xs-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </nav>
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
